@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.center{
      text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.85);
  font-family: 'Noto Sans JP', sans-serif;
}
.homep{
    background-image: url(../img/career/porfolio.jpg);
   height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



